body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('images/diamante.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}
.reloj {
    display: grid;
    grid-template-columns: auto;
    background-color: rgba(255, 255, 255, 0.106);
    align-items: center;
    justify-content: center;
    width: 30%;
    height: auto;
    border: 1px solid black;
    filter: blur(1px);
}
.reloj:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.196);
    box-shadow: 10px 6px 16px 5px rgba(0,0,0,1);
    filter: blur(0px);
}
.reloj  {
    transition-duration: 1s;
    display: grid;
    grid-template-columns: auto;
    background-color: rgba(255, 255, 255, 0.106);
    align-items: center;
    justify-content: center;
    width: 30%;
    height: auto;
    border: 1px solid black;
}
.horas {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}
.numeros {
    font-size: 50px;
}
.buton {
    margin-top: 25px;
    font-size: 25px;
}
.fa-solid {
    background: none;
    display: flex;
    justify-content: space-around;
}
.start {
    height: 130px;
}
.pause {
    height: 130px;
}
.botones {
    background: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
    margin-right: 10px;
}
.boton2 {
    margin-left: 40px;
    display: flex;
    justify-content: space-around;
}
button {
    font-size: 30px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
#oneclik:hover,
.boton1:hover,
#oneclik2:hover,
.boton2:hover {
    transform: scale(1.1);
}
.pause-clone{
    display: none;
}
.start-clone{
    display: none;
}
/* Define la animación de crecimiento y reducción */
@keyframes growAndShrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
/* Aplica la animación cuando la clase "animate" está presente */
.animate {
    animation: growAndShrink 1s ease-in-out infinite;
}
@media screen and (max-width: 720px) {
    .numeros {
        font-size: 40px; /* Reducimos el tamaño de fuente de los números */
    }
    .pause{
        display: none;
    }
    .pause-clone{
        display: block;
        height: 130px;
    }
    .start{
        display: none;
    }
    .start-clone{
        display: block;
        height: 130px;
    }
    .reloj{
    background: none;
    border: none;
    box-shadow: none;
    color: whitesmoke
}
    .botones {
        flex-direction: column;
        font-size: auto;
        justify-self:center;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
        gap: 0;
         /* Cambiamos la dirección de los botones a una columna */
    }
    button {
        font-size: 3px; /* Reducimos el tamaño de fuente de los botones */
        margin-bottom: 10px;
        gap:0; 
        /* Añadimos un margen inferior para separar los botones */
    }
    .boton2{
        margin: 0 0;
    }
}
